* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    /* cursor: none; */
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh;
    background: #1E81B0;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
}
h3 {
    min-width: 15%;
    text-align: center;
    color: white;
    font-size: 28px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.link {
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.link a {
    text-decoration: none;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: white;
}
.link a:hover {
    border-bottom: 1px solid white ;
}
.light {
    width: 70px;
    min-height:  34px;
    /* background: #D9D9D9; */
    box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;   
    background: #0A0909;
    border-radius: 50px;
}
.light .bounce {
    background: white;
    width: 35px;
    height: 34px;
    border-radius: 50%;
    transition: transform 800ms ease-in-out;
    cursor: pointer;
    background: linear-gradient(70.51deg, #FFFFFF 93.79%, rgba(234, 226, 226, 0) 173.24%);
    filter: drop-shadow(4px 4px 35px rgba(0, 0, 0, 0.25));
    
}

.searching {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.searching input {
    background: none;
    text-align: center;
    border: none;
    color: white;
    font-size: 20px;
    outline: none;
    
}

.searching input::placeholder {
    color: black;
}

.searching img {
    width: 31px;
    min-height: 31px;
}

.profil {
    width: 53px;
    height: 53px; 
    border: 1px solid black;
    border-radius: 50%;
    background: url('images/user-img.jpg') center/cover;
}
.cover {
    min-height: 620px;
    /* background: red; */
    background: url('images/Zeni.jfif') center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover h1 {
    font-weight: 900;
    font-size: 96px;
    color: white;   
    text-align: center;
    width: 70%;

}
.collections {
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1E81B0;
    min-height: 9vh;
}
.tags {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    margin: 0 3%;
    border-bottom: 1px solid white;
}
.tags img {
    width: 28.32px;
    height: 28.98px;
    position: relative;
    left: 10px;
}
.tags input {
    outline: none;
    background: none;
    width: 60%;
    margin: 0 auto;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
}
.tags input::placeholder {
    color: white;
}
.collections h2 {
    margin: 0 3%;
    font-weight: 900;
    font-size: 48px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item-tag {
    text-align: center;
    margin-top: 39px;
    
}
.item-tag h3 {
    color: black;
    font-weight: 900;
    font-size: 48px;
}
.items-bg {
    margin: 29px auto;
    background: #912727;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: 1px solid navy;
    width: 90%;
    display: flex;
    justify-content: space-around;
    /* min-height: 300vh; */
    flex-wrap: wrap;
}
.items-bg .card {
    margin-top: 80px;
    background: #1E81B0;
    border-radius: 25px;
    width: 260px;
    height: 330px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.card .img {
    width: 230px;
    height: 230px;
    border-radius: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: url('images/Zeni.jfif') center/cover;
}
.manga-info{
    display: flex;
    width: 230px;
    justify-content: space-between;
    margin-top: 20px;
}
.manga-info span,.name {
    color: white;
    font-weight: 700;
}
.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.card .text-description {
    position: absolute;
    border: 1px solid transparent;
    width: 230px;
    text-align: center;
    top: 50%;
    color: white;

}

.light .bounce:hover {
    border-radius: 50%;
    transition: transform 800ms ease-in-out;
    cursor: pointer;
}

form {
    display: flex;
    width: 100%;
}
form .left {
    width: 50%;
 
}
form .right {
    width: 50%;
    border-left: 1px solid #1e82b046;
}

.left label , .right label {
    display: flex;
    font-weight: 700;
    font-size: 32px;
    color: white;
    cursor: pointer;
    
    
}
.left input, .right input {
    background: #EAB676;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    height: 45px;
    width: 75%;
    margin: 10px 5%;
    outline: none;
    border: none;
    font-size: 25px;
    padding: 0 5%;
}
.left select {
    margin: 10px 5%;
    width: 75%;
    height: 35%;
    font-size: 1.5rem;
}
.left div , .right div {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
}
.left .notes, .right .descript {
    height: 30vh;
}
textarea {
    margin: 10px 5%;
    height: 100%;
    resize: none;
    outline: none;
    font-size: 1rem;
    background: #EAB676;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1% 2%;
}

.right .image input {
    background: none;
    background: none;
    color: white;  
    cursor: pointer;  
    
}
.button {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAB676;
    border-radius: 50px;
    color: white;
    width: 397px;
    height: 46px;
    font-weight: 700;
    cursor: pointer;
    font-size: 24px;
}
.button:hover {
    transform: translateY(1%);
}
.add-collect {
    border: 10px solid #1E81B0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
select {
    background: #EAB676;
    color: white;
    box-shadow: 0px 4px 4px rgba(189, 64, 64, 0.25);
    outline: none;
}